<!DOCTYPE html>
<html>

<head>
  <title>Corona Center</title>
</head>

<body>
  <a href="./index.html">Corona Center</a>
  <a href="./aboutme.html">About</a>
  <h1>Corona center</h1>
  <ul>
    <li><a href="#Symptomps">Symptomps</a></li>
    <li><a href="#Things to do">Things to do</a></li>
    <li><a href="#Emergency Number">Emergency Number</a></li>
  </ul>
  <div id="Symptomps">
    <h2>About Corona Virus</h2>
    <p>Corona Virus  People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:

Fever or chills
Cough
Shortness of breath or difficulty breathing
Fatigue
Muscle or body aches
Headache
New loss of taste or smell
Sore throat
Congestion or runny nose
Nausea or vomiting
Diarrhea
This list does not include all possible symptoms. CDC will continue to update this list as we learn more about COVID-19.

When to seek emergency medical attention
Look for emergency warning signs* for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:

Trouble breathing
Persistent pain or pressure in the chest
New confusion
Inability to wake or stay awake
Bluish lips or face
*This list is not all possible symptoms. Please call your medical provider for any other symptoms that are severe or concerning to you.<br /><br /> There are many subspecies within the brown bear species, including the Atlas bear and the Himalayan brown bear.</p>

    <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank">Learn More</a>
    <h3>Unrechognagible syntomps</h3>
    <ul>
      <li>Eys musssele pain</li>
      <li>weekness</li>
      <li>Anxiety</li>
      <li>Back pain</li>
    </ul>
    <h3>Safety Concern Tips</h3>
    <p>To be extra safe always needed to be extra safe like when you enter home bath quickly without touching anything and have a healthy diet</p>
  </div>
  <div id="Things to do">
    <h2>Things to do</h2>
    <h3>These steps you have to do if you affected by Corona virus</h3>
    <ol>
      <li>Start Self isolation</li>
      <li>Always use mask</li>
      <li>Keep faith on oneself</li>
      <li>Inform nearones</li>
      <li>Contact nearest hospital</li>
    </ol>

  </div>
  <div id="Emergency Number">
    <h2>Emergency Number</h2>
    <li>IEDCR: 02-9898796, 10655, 01944333222, email: iedcrcovid19@gmail.com</li>
    <li>International Centre for Diarrhoeal Disease Research, Bangladesh (icddr,b): 09666-771100</li>
    <li>Bangabandhu Sheikh Mujib Medical University: 01866-637482</li>
    <li>Armed Forces Institute of Pathology: 01769-016616</li>
    <li>nstitute of Public Health: 02-8821361</li>
  </div>
</body>

</html>
