<!DOCTYPE html>
<html>

<head>
  <title>Diabetes Center</title>
</head>

<body>
  <a href="./index.html">Diabetes Center</a>
  <a href="./aboutme.html">About</a>
  <h1>Diabetes Center</h1>
  <ul>
    <li><a href="#Symptoms of diabetes">Symptoms of diabetes</a></li>
    <li><a href="#Causes of diabetes">Causes of diabetes</a></li>
    <li><a href="#Treatment of diabetes">Treatment of diabetes</a></li>
  </ul>
  <div id="Symptoms of diabetes">
    <h2>About diabetes</h2>
    <p>Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. With diabetes, your body either doesn’t make enough insulin or can’t effectively use the insulin it does make.
   <h4>General symptoms</h4>
The general symptoms of diabetes include:

1.increased hunger
2.increased thirst
3.weight loss
4.frequent urination
5.blurry vision
6.extreme fatigue
7.sores that don’t heal
<h4>Symptoms in men</h4>
In addition to the general symptoms of diabetes, men with diabetes may have a decreased sex drive, erectile dysfunction (ED), and poor muscle strength.

<h4>Symptoms in women</h4>
Women with diabetes can also have symptoms such as urinary tract infections, yeast infections, and dry, itchy skin.
</p>

    <a href="https://www.healthline.com/health/diabetes#symptoms" target="_blank">Learn More</a>

  <div id="Causes of diabetes">
    <h2>Causes of diabetes</h2>
    <h3>Exacly these causes have one face if anyone have diabetes</h3>
    <h4>Type 1 diabetes</h4>
    <p>Doctors don’t know exactly what causes type 1 diabetes. For some reason, the immune system mistakenly attacks and destroys insulin-producing beta cells in the pancreas.

Genes may play a role in some people. It’s also possible that a virus sets off the immune system attack.</p>

<h4>Type 2 diabetes</h4>
<p>Type 2 diabetes stems from a combination of genetics and lifestyle factors. Being overweight or obese increases your risk too. Carrying extra weight, especially in your belly, makes your cells more resistant to the effects of insulin on your blood sugar.

This condition runs in families. Family members share genes that make them more likely to get type 2 diabetes and to be overweight.</p>

  <h4>Gestational diabetes</h4>
  <p>Gestational diabetes is the result of hormonal changes during pregnancy. The placenta produces hormones that make a pregnant woman’s cells less sensitive to the effects of insulin. This can cause high blood sugar during pregnancy.

Women who are overweight when they get pregnant or who gain too much weight during their pregnancy are more likely to get gestational diabetes.</p>
  </div>

  <div id="Treatment of diabetes">
    <h2>Treatment of diabetes</h2>
    <h4>Type 1 diabetes</h4>
<p>Insulin is the main treatment for type 1 diabetes. It replaces the hormone your body isn’t able to produce.

There are four types of insulin that are most commonly used. They’re differentiated by how quickly they start to work, and how long their effects last:

Rapid-acting insulin starts to work within 15 minutes and its effects last for 3 to 4 hours.
Short-acting insulin starts to work within 30 minutes and lasts 6 to 8 hours.
Intermediate-acting insulin starts to work within 1 to 2 hours and lasts 12 to 18 hours.
Long-acting insulin starts to work a few hours after injection and lasts 24 hours or longer.</p>

<h4>Type 2 diabetes</h4>
<p>Diet and exercise can help some people manage type 2 diabetes. If lifestyle changes aren’t enough to lower your blood sugar, you’ll need to take medication.

These drugs lower your blood sugar in a variety of ways:

Types of drug How they work Example(s)
Alpha-glucosidase inhibitors  Slow your body’s breakdown of sugars and starchy foods  Acarbose (Precose) and miglitol (Glyset)
Biguanides  Reduce the amount of glucose your liver makes Metformin (Glucophage)
DPP-4 inhibitors  Improve your blood sugar without making it drop too low Linagliptin (Tradjenta), saxagliptin (Onglyza), and sitagliptin (Januvia)
Glucagon-like peptides  Change the way your body produces insulin Dulaglutide (Trulicity), exenatide (Byetta), and liraglutide (Victoza)
Meglitinides  Stimulate your pancreas to release more insulin Nateglinide (Starlix) and repaglinide (Prandin)
SGLT2 inhibitors  Release more glucose into the urine Canagliflozin (Invokana) and dapagliflozin (Farxiga)
Sulfonylureas Stimulate your pancreas to release more insulin Glyburide (DiaBeta, Glynase), glipizide (Glucotrol), and glimepiride (Amaryl)
Thiazolidinediones  Help insulin work better  Pioglitazone (Actos) and rosiglitazone (Avandia)
You may need to take more than one of these drugs. Some people with type 2 diabetes also take insulin.</p>

<h4>Gestational diabetes</h4>
<p>You’ll need to monitor your blood sugar level several times a day during pregnancy. If it’s high, dietary changes and exercise may or may not be enough to bring it down.</p>

According to the Mayo Clinic, about 10 to 20 percent of women with gestational diabetes will need insulin to lower their blood sugar. Insulin is safe for the growing baby.
  </div>
</body>

</html>
