<!DOCTYPE html>
# Home Slider of the home function
# Make a container
# Charset is = "UTF-8"

<html lang="en">
<head>

  #The slider
    <meta charset="UTF-8">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hospital Management System</h1>
      <p>The hospital management system (HMS) is an integrated software that handles different directions of clinic workflows. It manages the smooth healthcare performance along with administrative, medical, legal and financial control. That is a cornerstone for the successful operation of the healthcare facility.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
</head>
<body>

</body>
</html>